# Sistema Operacional / Arquivos Ocultos
.DS_Store
Thumbs.db
.Spotlight-V100
.Trashes

# IDEs e Editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs de debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependências e Builds (para caso adotemos frameworks de teste E2E como Playwright futuro)
node_modules/
dist/
build/
coverage/
playwright-report/
test-results/
